# Python
__pycache__/
*.py[cod]
*.pyc
*.log
*.pot
db.sqlite3
.env
venv/
# Django
/staticfiles/

# Node + Vite frontend
node_modules/
dist/
.vite/
frontend-nc/.env

# IDEs y sistema
.DS_Store
Thumbs.db
.vscode/
*.code-workspace
